header
    .logo
        img(src="http://placehold.it/50x50", alt="")
    .nav
        ul
            li 
                a
            li 
                a
            li 
                a
            li 
                a
            li 
                a
            